<div class="home">
    <div class="home__header pt-6 pb-8"
        style="background-image: url('../../../../../assets/images/home.png');background-repeat: no-repeat; background-size: cover; background-position: center ;">
        <div class="home__header__btn"><button class=" btn  block px-2 py-2 font-semibold text-white"> <i
                    class="pi pi-user"></i> Mon
                compte</button></div>
        <div class="home__header__container  e">
            <div class="home__header__container__title">
                <span class="home__header__container__title__text text-white font-bold">
                    Tender
                </span>
            </div>
            <div class="home__header__container__paragraph mt-3">
                <p class="font-light text-white">Le premier réseau social</p>
                <p class="font-light text-white">entièrement dédié à l’immobilier</p>
            </div>
            <div class="home__header__container__btn mt-3">
                <button class="btn text-white px-6 py-3 font-bold text-base block">Démarrer</button>
            </div>
        </div>
    </div>
    <div class="home__section1 pt-6">
        <div class="home__section1__container grid">
            <div class="col-12 md:col-6 home__section1__container__info">
                <div class="home__section1__container__info__title">
                    <span class="font-semibold">Tender c’est quoi <br> précisément ?</span>
                </div>
                <div class="home__section1__container__info__text mt-6">
                    <p>Bienvenu sur Tender un réseau professionnel entièrement dédié au marché immobilier. Notre
                        objectif est de mettre en
                        relation tous les acteurs du marché : les locataires ( remetteurs et repreneurs de baux ), les
                        propriétaires, les
                        professionnels et les entreprises, en leur permettant de créer des liens et de gagner du temps
                        dans les échanges.</p>
                </div>
            </div>
            <div class="col-12 col-offset-1 md:col-5     home__section1__container__img">
                <img src="../../../../../assets/images/home1.png" alt="">
            </div>
        </div>
    </div>
    <div class="home__section3 pt-6">
        <div class="home__section2__container grid">
            <div class="col-12 md:col-6 home__section1__container__info">
                <div class="home__section2__container__info__title">
                    <span class="font-semibold">Un accompagnement 100% <br>digitalisé !</span>
                </div>
                <div class="home__section2__container__info__text mt-6">
                    <p>Que ce soit pour celui qui recherche un bien ou celui qui recherche un des candidats(s), notre
                        platforme offre un
                        accompagnenent complet et totalement digitalisé.</p>
                </div>
            </div>
            <div class="col-12 col-offset-1 md:col-5     home__section2__container__img">
                <img src="../../../../../assets/images/home2.png" alt="">
                <img src="../../../../../assets/images/dots.png" alt="">
            </div>
        </div>
    </div>
    <div class="home__section3 pt-6">
        <div class="home__section2__container grid">
            <div class="col-12 md:col-6 home__section1__container__info">
                <div class="home__section3__container__info__title">
                    <span class="font-semibold">Trouver le locataire idéel</span>
                </div>
                <div class="home__section3__container__info__text mt-6">
                    <p>Lorsque vous publié votre annonce notre algorithme recherche pour vous le candidat correspondant
                        à vos critière, vous
                        recevez ensuite toutes les informations administratives et les documents des candidats. Cette
                        approche innovante permet
                        de garentir une mise en relation pertinente ainsi que de digitalisé tout le processus de
                        postulation.</p>
                </div>
            </div>
            <div class="col-12 col-offset-1 md:col-5     home__section3__container__img">
                <img src="../../../../../assets/images/home5.png" alt="">
                <img src="../../../../../assets/images/dots.png" alt="">
            </div>
        </div>
    </div>
    <div class="home__section4 pt-6">
        <div class="home__section3__container grid">
            <div class="col-12 md:col-4 home__section4__container__img">
                <img src="../../../../../assets/images/home6.png" alt="">
                <img src="../../../../../assets/images/dots.png" alt="">
            </div>
            <div class="col-12 col-offset-1 md:col-7  home__section4__container__info pt-8">
                <div class="home__section4__container__info__title">
                    <span>Annastasia <br> Kim</span>
                </div>
                <hr class="home__section4__container__info__divider my-4">
                <div class="home__section4__container__info__text mt-3">
                    <span class="text-base">J’ai trouver mon bien assez rapidement.</span>
                </div>
                <div class="home__section4__container__info__btns mt-8 flex flex-row justify-content-end">
                    <button class="btn border-circle mr-3"><i
                            class="pi pi-arrow-left text-white py-3 px-3 text-sm "></i></button>
                    <button class="btn border-circle"><i
                            class="pi pi-arrow-right text-white py-3 px-3 text-sm"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="flex justify-content-between footer__container">
        <div class="align-self-end justify-content-start footer__container__item">
            <span><img src="../../../../../assets/images/logo.png" alt=""></span>
            <p class="mt-5">Holo est le premier réseau social <br>100% dédié à l’immobilier</p>
        </div>
        <div class="align-self-end justify-content-start footer__container__item">
            <span>Entreprise</span>
            <p class="mt-5">Accuiel</p>
        </div>
        <div class="align-self-end justify-content-start footer__container__item">
            <span>Support</span>
            <p class="mt-5">FAQs</p>
        </div>
        <div class="align-self-end justify-content-start footer__container__item">
            <span>Légal</span>
            <p class="mt-5">Politique de confidentialité</p>
        </div>
    </div>
</footer>