<section class="login grid">
    <div class="col-7 login__right">

        <div class="login__right__logo">
            <img src="../../../../../assets/images/logo.png" alt="">

        </div>
        <div class="login__right__frame mt-3">
            <img src="../../../../../assets/images/Frame.png" alt="">
        </div>


    </div>
    <div class="col-5 login__left">
        <div class="login__left__title">
            <span class="login__left__title__text">Se connecter</span>
        </div>
        <div class="login__left__form">
            <div class="login__left__form__group">
                <span class="login__left__form__label">Email</span>
                <input type="password" pPassword showPassword />
            </div>
        </div>
    </div>
</section>